<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ProjectConfig" type="StyleBase.CommonSection, StyleBase"/>
		<section name="SolutionPath" type="StyleBase.CommonSection, StyleBase"/>
		<section name="ProcessPath" type="StyleBase.CommonSection, StyleBase"/>
	</configSections>

	<!--项目的配置-->
	<ProjectConfig>
		<add key="是否加载" value="False" />
		<add key="加载路径" value="C:\Users\zhaoyi.SUNWELLPOWER\Desktop\A铜箔检测\A.转接机\Demo1.nv" />
		<add key="流程间隔" value="75"/>
		<add key="开机自启" value="False"/>
		<add key="保存更新的值" value="False"/>
	</ProjectConfig>

	<!--解决方案路径地址-->
	<SolutionPath>

	</SolutionPath>

	<!--流程数据-->
	<ProcessPath>

	</ProcessPath>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<publisherPolicy apply="yes"/>
			<probing privatePath="Plugins"/>
		</assemblyBinding>
	</runtime>
</configuration>